# EDA Questions

In [1]:
import pandas as pd

In [2]:
years_movies = pd.read_csv('Data/tmdb_results_combined.csv.gz')
years_movies.head()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,False,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127,tt0113026,en,The Fantasticks,...,0,86,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,False,5.500,22,NaN
1,False,NaN,NaN,0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977,tt0113092,en,For the Cause,...,0,100,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,False,5.100,8,NaN
2,False,NaN,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869,tt0116391,hi,Gang,...,0,152,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,False,4.000,1,NaN
3,False,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.wkw-inthemoodforlove.com/,843,tt0118694,cn,花樣年華,...,12854953,99,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,False,8.113,2012,PG
4,False,NaN,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,49511,tt0118852,en,Chinese Coffee,...,0,99,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,There's a fine line between friendship and bet...,Chinese Coffee,False,6.900,47,R

### How many movies have SOME financial information?

In [3]:
financial = (years_movies['budget'] > 0) | (years_movies['revenue'] > 0)
print(f'{len(years_movies[financial])} movies have financial information')

623 movies have financial information

### How many movies are in each certification category?

In [4]:
print(f'The number of movies in each certification category are:')
years_movies["certification"].value_counts()

The number of movies in each certification category are:

R          453
PG-13      180
NR          67
PG          64
G           24
NC-17        6
Unrated      1
-            1
Name: certification, dtype: int64

### What is the average revenue per certification category

In [5]:
cert_groups = years_movies.groupby('certification').mean()['revenue']
print('The average revenue for each certification category is:')
cert_groups

The average revenue for each certification category is:

certification
-          0.000000e+00
G          7.216332e+07
NC-17      0.000000e+00
NR         2.255067e+06
PG         6.143535e+07
PG-13      7.186567e+07
R          1.678400e+07
Unrated    0.000000e+00
Name: revenue, dtype: float64

### What is the average budget by certification category

In [6]:
cert_groups = years_movies.groupby('certification').mean()['budget']
print('The average budget for each certification category is:')
cert_groups

The average budget for each certification category is:

certification
-          0.000000e+00
G          2.383333e+07
NC-17      0.000000e+00
NR         1.598509e+06
PG         2.459766e+07
PG-13      3.098838e+07
R          9.976831e+06
Unrated    0.000000e+00
Name: budget, dtype: float64