Josh Johnson

11/30/2022

Use CDF to Calculate Probabilites (Practice)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [2]:
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRxp-hsw61ck9cpt5ExZIUhvSGT5zYzoUJl_7xr7YF5qZeazC8393q2taqwkDvMxVirgFDJm1WX3uAC/pub?output=csv')
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [6]:
f_height = df[df['Gender'] == 'Female']['Height']
f_height.head()

5000    58.910732
5001    65.230013
5002    63.369004
5003    64.479997
5004    61.793096
Name: Height, dtype: float64

In [7]:
mean = f_height.mean()
std = f_height.std()

In [8]:
low = 55
high = 56

In [13]:
low_cdf = stats.norm.cdf(low, loc=mean, scale=std)
high_cdf = stats.norm.cdf(high, loc=mean, scale=std)

prob = high_cdf - low_cdf
print(f'probability of a female being between {low} and {high} inches tall is {prob}')

probability of a female being between 55 and 56 inches tall is 0.0015055206795372214

In [17]:
max_height = 60
prob_less_5 = stats.norm.cdf(60, loc=mean, scale=std)
print(f'There is a {prob_less_5} chance that a female will be shorter than {max_height} inches tall')

There is a 0.08448623553403717 chance that a female will be shorter than 60 inches tall

In [19]:
prob_over_mean = 1 - stats.norm.cdf(mean, loc=mean, scale=std)
print(f'of course, there is a {prob_over_mean} chance that a female will be taller than average')

of course, there is a 0.5 chance that a female will be taller than average