# Books Database
By Josh Johnson
Began 9/26/1980

## ERD
![database ERD](books_erd.png)

In [1]:
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

connection = "mysql+pymysql://root:root@localhost/books"

In [6]:
users = pd.read_csv('https://docs.google.com/spreadsheets/d/1_c2WTx_eiH8pUM-PTgyt7T4aIl1A3Cp1ukPVPEijoYc/gviz/tq?tqx=out:csv&sheet=users')
books = pd.read_csv('https://docs.google.com/spreadsheets/d/1_D-vW7GXiQfG6D9nzjscgVctKLb6TZl_o8ERNH_tet8/gviz/tq?tqx=out:csv&sheet=books')
authors = pd.read_csv('https://docs.google.com/spreadsheets/d/17rABPt5eaIxfhGO75dYCbH-5IloKsAR0HH9V6VC43ZI/gviz/tq?tqx=out:csv&sheet=authors')
favorites = pd.read_csv('https://docs.google.com/spreadsheets/d/1SLb3RAhcrZsPWRwR0_njWX7KssUYZ16JFsVqBkSU2GI/gviz/tq?tqx=out:csv&sheet=favorite')

In [2]:
engine = create_engine(connection)

In [5]:
if database_exists(connection):
    print('Database Exists')
else:
    create_database(connection)
    print('Database Created')

Database Exists

In [8]:
users.to_sql('users', engine, if_exists = 'replace')
books.to_sql('books', engine, if_exists = 'replace')
authors.to_sql('authors', engine, if_exists = 'replace')
favorites.to_sql('users_has_books', engine, if_exists = 'replace')

7

In [9]:
q = """
SELECT *
FROM users
LIMIT 10"""

pd.read_sql(q, engine)

   index  id first_name  last_name                 email
0      0   1       John        Doe          JD@books.com
1      1   2      Robin      Smith       Robin@books.com
2      2   3     Gloria  Rodriguez  grodriquez@books.com

In [10]:
q = """
SHOW TABLES"""

pd.read_sql(q, engine)

   Tables_in_books
0          authors
1            books
2            users
3  users_has_books

In [16]:
q = """
SELECT users.first_name, users.last_name, books.title
FROM users
JOIN users_has_books
ON users.id = users_has_books.user_id
JOIN books
ON users_has_books.book_id = books.id
WHERE users.first_name = 'John'
AND users.last_name = 'Doe'
"""

pd.read_sql(q, engine)

  first_name last_name             title
0       John       Doe       The Shining
1       John       Doe                It
2       John       Doe  The Great Gatsby